@using APP.Models
@model GroupRequest

@{
    ViewBag.Title = "Create Group";
}

<h1>@ViewBag.Title</h1>

<p class="text-success">
    @ViewBag.Message
</p>

<form asp-action="Create">
    <div class="row">
        <div class="col-2">
            <label asp-for="Title"></label> 

        </div>
        <div class="col-10">
            <input asp-for="Title" class="form-control" /> 
            <span asp-validation-for="Title" class="text-danger"></span> 

        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-10">
            <button type="submit" class="btn btn-info">Create</button>
            &nbsp;
            <button type="reset" class="btn btn-outline-info">Reset</button>
            &nbsp;
            <a asp-action="Index" class="btn btn-outline-secondary">Back to Group List</a>
        </div>
    </div>
</form>