@using APP.Models
@model GroupRequest

@{
    ViewBag.Title = "Edit Group";
}

<h1>@ViewBag.Title</h1>

<p class="text-success">
    @ViewBag.Message
</p>

@if (Model is not null)
{
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class="col-2">
                <label asp-for="Title"></label>
            </div>
            <div class="col-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-10">
                <button type="submit" class="btn btn-primary">Update</button>
                &nbsp;
                <button type="reset" class="btn btn-outline-primary">Reset</button>
            </div>
        </div>
    </form>
}
<hr />
<a asp-action="Index" class="btn btn-outline-warning">Back to Group List</a>